.cardView {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--card-normal);
    width: 100px;
    height: 120px;
    font-size: 60px;

    border-radius: 12px;
    margin-bottom: 25px;
}

.cardView_show {
    background-color: var(--card-show);
}

.cardView_discovered {
    background-color: var(--card-discovered);
}