:root {
    --primary-color: #415a77;
    --secundary-color: #ff6b6b;
    --tertiary-color: #f3722c;
    --other-color: #f9c74f;
    --navbar-height: 60px;
    --fade-color: rgba(0, 0, 0, 0.5);
}

* {
    user-select: none;
    padding: 0;
    margin: 0;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
}

.controllerContainer {
    position: fixed;
    top: var(--navbar-height);
    width: 100%;
    height: calc(100% - var(--navbar-height));
}

.fade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--fade-color);
}

.elementContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}