:root {
    --primary-color: #415a77;
    --secundary-color: #ff6b6b;
    --tertiary-color: #f3722c;
    --other-color: #f9c74f;
    --navbar-height: 60px;
    --fade-color: rgba(0, 0, 0, 0.75);
}

* {
    font-family: 'Mukta', sans-serif;
    user-select: none;
    padding: 0;
    margin: 0;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
}

.controllerContainer {
    position: fixed;
    top: var(--navbar-height);
    width: 100%;
    height: calc(100% - var(--navbar-height));
}

.fade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--fade-color);
    opacity: 0;
}

.elementContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gameBtn {
    width: 80%;
    height: 50px;
    background-color: var(--tertiary-color);

    font-size: 25px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    cursor: pointer;
    user-select: none;
    border-radius: 10px;
}

.hidden {
    display: none !important;
}